<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>homePage</servlet-name>
        <servlet-class>Unauthenticated.homePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginPage</servlet-name>
        <servlet-class>Unauthenticated.loginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrationPage</servlet-name>
        <servlet-class>Unauthenticated.registrationPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerHomePage</servlet-name>
        <servlet-class>Customer.customerHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchasePage</servlet-name>
        <servlet-class>Customer.purchasePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>billPage</servlet-name>
        <servlet-class>Customer.billPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>refundRequestPage</servlet-name>
        <servlet-class>Customer.refundRequestPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>refundReceiptPage</servlet-name>
        <servlet-class>Customer.refundReceiptPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>refundRequestAuthorizationPage</servlet-name>
        <servlet-class>Manager.refundRequestAuthorizationPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookManagementPage</servlet-name>
        <servlet-class>Manager.bookManagementPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookDetailsPage</servlet-name>
        <servlet-class>Manager.bookDetailsPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginPage</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrationPage</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerHomePage</servlet-name>
        <url-pattern>/customerHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchasePage</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>billPage</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>refundRequestPage</servlet-name>
        <url-pattern>/refundRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>refundReceiptPage</servlet-name>
        <url-pattern>/refundReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>refundRequestAuthorizationPage</servlet-name>
        <url-pattern>/refundRequestAuthorization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookManagementPage</servlet-name>
        <url-pattern>/bookManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookDetailsPage</servlet-name>
        <url-pattern>/bookDetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
